<div #comments>Comments</div>

@defer(on interaction(comments)){
  <div>Show</div>
}

@defer(on hover(comments)){
  <div>Hover</div>
}

@defer (on timer(5s)){
  <div>Timer</div>
} @placeholder{
  <div>Waiting...</div>
}
@loading{
  <div>Loading...</div>
}
@error{
  <div>Error...</div>
}


@defer (on viewport(comments)){
  <div>Viewport</div>
}

@defer (on immediate){
  <div>Immediate</div>
}

@defer (on idle){
  <div>Idle</div>
}

@defer (when count > 5){
  <div>Click</div>
}

@defer( on hover(comments), timer(2s); when count > 5) {
  <div>Achieve</div>
}

<button (click)="addClick()">Click</button>